
.filterDiv{

    display:flex;
    justify-content: space-around;
    box-sizing: border-box;
}
.decoration{
    height: 36px;
    background-color: rgb(0, 0, 0);
    background-image: url('./images/decoration.jpg');
    background-repeat: no-repeat;
}
.paginado{
   
    display: flex;
    justify-content: center;
}
.dogBlock{
    display: flex;
    padding: 20px;
 
    width: 95%;
    margin: auto;
    justify-content: centers;

}

.dogArea{
   
    width: 100%;
    padding-left: 9%;
    display: grid;
    grid-template-columns: auto auto;
}
.linked{
    text-decoration: none;

}

